<%= title 'Bienvenido - Sistema Gestor de Pedidos' %>
<h1>Bienvenido al sistema de administración de pedidos de Avantec</h1>
<p>Hola, selecciona la tarea que deseas hacer en el menu arriba.</p>
<%= image_tag 'logos avantec.jpg' %>
